<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>coreServlet</servlet-name>
    <servlet-class>
            servlet.CoreServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coreServlet</servlet-name>
    <url-pattern>/wx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>match</servlet-name>
    <servlet-class>
            servlet.match
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>match</servlet-name>
    <url-pattern>/match</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>porDer</servlet-name>
    <servlet-class>
            servlet.porder
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>porDer</servlet-name>
    <url-pattern>/Porder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getNotice</servlet-name>
    <servlet-class>
            servlet.getnotice
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getNotice</servlet-name>
    <url-pattern>/getnotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addUser</servlet-name>
    <servlet-class>
            servlet.addusers
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Distance</servlet-name>
    <servlet-class>
            servlet.distance
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Distance</servlet-name>
    <url-pattern>/yyY</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addPay</servlet-name>
    <servlet-class>
            servlet.addpay
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPay</servlet-name>
    <url-pattern>/addPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uPl</servlet-name>
    <servlet-class>
            servlet.upl
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uPl</servlet-name>
    <url-pattern>/upl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pM</servlet-name>
    <servlet-class>
            servlet.paymoney
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pM</servlet-name>
    <url-pattern>/paymoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addLog</servlet-name>
    <servlet-class>
            servlet.addlog
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addLog</servlet-name>
    <url-pattern>/addlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payLog</servlet-name>
    <servlet-class>
            servlet.payloglist
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payLog</servlet-name>
    <url-pattern>/paylog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mpayLog</servlet-name>
    <servlet-class>
            servlet.mpayloglist
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mpayLog</servlet-name>
    <url-pattern>/mpaylog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kQ</servlet-name>
    <servlet-class>
            servlet.kq
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kQ</servlet-name>
    <url-pattern>/kq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kqLog</servlet-name>
    <servlet-class>
            servlet.kqlog
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kqLog</servlet-name>
    <url-pattern>/kqlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addDev</servlet-name>
    <servlet-class>
            servlet.adddev
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDev</servlet-name>
    <url-pattern>/adddev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inSert</servlet-name>
    <servlet-class>
            servlet.insert
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inSert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getlocation</servlet-name>
    <servlet-class>
            servlet.getlocation
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getlocation</servlet-name>
    <url-pattern>/getLo</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>searchKq</servlet-name>
    <servlet-class>
            servlet.searchkq
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchKq</servlet-name>
    <url-pattern>/searchkq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>table</servlet-name>
    <servlet-class>
            servlet.table
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>table</servlet-name>
    <url-pattern>/Table</url-pattern>
  </servlet-mapping>
  <servlet>  
    <servlet-name>CodeService</servlet-name>  
    <servlet-class>servlet.CodeServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>CodeService</servlet-name>  
    <url-pattern>/code.jspx</url-pattern>  
  </servlet-mapping>  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>